@font-face {
  font-family: "Silkscreen";
  src: url("/assets/fonts/Silkscreen/Silkscreen-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(15, 13, 13);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  /* justify-content: center; */
  align-items: center;
  color: #fff;
  font-family: "Silkscreen";
}

#app-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}

#game-wrapper {
  display: flex;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
}

#canvas {
  display: block;
  cursor: pointer;
  image-rendering: pixelated;
}
