* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(56, 71, 201);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  /* justify-content: center; */
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#appWrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 20px;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 1px solid #fff;
  display: block;
}
