* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(8, 8, 8);
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas {
  border: 1px solid #fff;
  display: block;
}
